@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MvcEfCorePractice.Models.Student
<div class="container">
<h2>Delete Student</h2>

<h4>Are you sure you want to delete this student?</h4>

<div>
    <h5>@Model.Name (Age: @Model.Age)</h5>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

</div>